extends layout

block content
    md-toolbar
        div.md-toolbar-tools
            md-button.md-icon-button(href='/', aria-label='home')
                md-icon(md-svg-icon='home')
            h2
                span Expenses
    md-content.md-padding
        ng-view
