extends layout

block content
  md-toolbar
    div.md-toolbar-tools
      md-button.md-icon-button
        md-icon(md-svg-icon='navigation:menu')
      h1
        span Expenses
        if auth
            span Authenticated
        else
            span Anonymous
  md-content.md-padding
    ng-view