doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        if dev
            link(rel='stylesheet', href='css/expenses.css')
        else
            link(rel='stylesheet', href='css/expenses.min.css')
        title= title
    body
        nav.navbar.navbar-default
            div.container
                div.navbar-header
                    a.navbar-brand(href='/') Expenses
        main.container
            block content
        if dev
            script(src='js/expenses.js')
        else
            script(src='js/expenses.min.js')