doctype html
html(lang='en', ng-strict-di)
  head
    title= title
    if dev
      link(rel='stylesheet', href='angular-material/angular-material.css')
    else
      link(rel='stylesheet', href='css/angular-material.min.css')
  body(layout='row')
    block content
    if dev
      script(src='angular/angular.js')
      script(src='angular-animate/angular-animate.js')
      script(src='angular-aria/angular-aria.js')
      script(src='angular-material/angular-material.js')
      script(src='expenses.js')
    else
      script(src='js/angular.min.js')
      script(src='js/angular-animate.min.js')
      script(src='js/angular-aria.min.js')
      script(src='js/angular-material.min.js')